{% extends "base.html" %}
{% block body %}

<div class="content has-text-centered">
	<h1>¿Qué es esto?</h1>
	<p>Aquí se encuentran todas las transacciones que incluye el bloque <u>#{{ height }}</u>.</p>
	<p>Hay ocasiones en donde no se realizaron transacciones en el periodo de generación del bloque, que por lo general es un plazo de 1 minuto. Cuando esto sucede se genera un "bloque vacío", que solo incluye la <u>transacción de generación de Chauchas</u> correspondiente al bloque.</p>
	<p>En la actualidad, con cada bloque se generan <u>1.5 Chauchas</u> nuevas en la red, que obtiene el usuario que minó el bloque.</p>
</div>

<div class="has-text-centered">
<p class="subtitle monospace mini"><a class="has-text-danger" href="{{ url_for('home') }}">Volver al inicio</a></p>
</div>
<br>
<table class="table center">
	<thead>
		<tr>
			<th class="has-text-centered is-hidden-touch">Tamaño</th>
			<th class="has-text-centered">Hash</th>
			<th class="has-text-centered is-hidden-touch">Entradas</th>
			<th class="has-text-centered is-hidden-touch">Salidas</th>
			<th class="has-text-centered">Monto</th>
		</tr>
	</thead>
	<tbody class="monospace">
	{% for i in tx %}
		<tr>
			<td class="has-text-centered is-hidden-touch">{{ (i['size']/1024)|round(2) }} Kb</td>
			<td class="has-text-centered is-hidden-touch"><a class="has-text-danger" href="/tx/{{ i['hash'] }}">{{ i['hash'] }}</a></td>
			<td class="has-text-centered is-hidden-desktop"><a class="has-text-danger" href="/tx/{{ i['hash'] }}">{{ i['hash'][:15] }}...</a></td>
			<td class="has-text-centered is-hidden-touch">{{ i['inputs'] }}</td>
			<td class="has-text-centered is-hidden-touch">{{ i['outputs'] }}</td>
			<td class="has-text-centered">{{ i['amount'] }} CHA</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}