{% extends "base.html" %}
{% block body %}

<div class="content has-text-centered">
	<h1>¿Qué es esto?</h1>
	<p>El proyecto <a href="https://github.com/proyecto-chaucha/chinchilla" class="has-text-danger" target="_blank">Chinchilla</a> es una plataforma que permite observar la información que incluye el blockchain de <a href="https://www.chaucha.cl" target="_blank" class="has-text-danger">Chaucha</a>, para que los usuarios descubran de una <u>manera práctica</u> cómo se van generando los bloques en el tiempo, y que transacciones contiene cada bloque.</p>
	<p>En la siguiente lista se encuentran los <u>últimos 20 bloques</u> generados por la Red Chaucha.</p>
</div>

<div class="has-text-centered">
<p class="subtitle monospace mini">
	{% if pages['current'] > 1 %}
		<a href="{{ url_for('home',page=pages['current'] - 1) }}" class="has-text-danger"><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i></a>
	{% endif %}

	Página {{ pages['current'] }} de {{ pages['max'] }}

	{% if pages['current']  < pages['max'] %}
		<a href="{{ url_for('home',page=pages['current'] + 1) }}" class="has-text-danger">
			<i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
		</a>
	{% endif %}
	

</p>
</div>
<br>
<table class="table center">
	<thead>
		<tr>
			<th class="has-text-centered">#</th>
			<th class="has-text-centered">Edad</th>
			<th class="has-text-centered">Dificultad</th>
			<th class="has-text-centered is-hidden-touch">Hash</th>
			<th class="has-text-centered">Tamaño</th>
			<th class="has-text-centered">Tx</th>
		</tr>
	</thead>
	<tbody class="monospace">
	{% for i in blocks %}
		<tr>
			<td class="has-text-centered"><a class="has-text-danger" href="/block/{{ i['hash'] }}">{{ i['height'] }}</a></td>
			<td class="has-text-centered">{{ ((now - i['time'])/60)|round(2) }} Min.</td>
			<td class="has-text-centered">{{ i['difficulty'] }}</td>
			<td class="has-text-centered is-hidden-touch">{{ i['hash'] }}</td>
			<td class="has-text-centered">{{ (i['size']/1024)|round(2) }} Kb</td>
			<td class="has-text-centered">{{ i['tx']|length }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}