{% extends "base.html" %}
{% block body %}

{% if fee >= 0 %}
<div class="has-text-centered">
	<h1 class="title is-size-5">Impuesto por transacción</h1>
	<p class="subtitle is-size-5 monospace">{{fee|round(8)}} CHA</p>
</div>
{% endif %}

<br>
<div class="columns">
	<div class="column has-text-centered">
		<h1 class="title is-size-4">Entradas</h1>
		{% if vin[0]['utxo'] == vin[0]['vout'] %}
			<br>
			<h1 class="is-size-6">{{ vin[0]['vout'] }}</h1>
			<br>
		{% else %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Transacción de entrada</th>
				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vin %}
				<tr>
					<td>{{ i['vout'] }}</td>
					<td><a class="has-text-danger" href="{{ url_for('tx', txid=i['utxo'])}}">{{ i['utxo'] }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>

	<div class="column has-text-centered">
		<h1 class="title is-size-4">Salidas</h1>
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Dirección</th>
					<th>Monto</th>
					<th>Tipo</th>

				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vout %}
				<tr>
					<td>{{ i['n'] }}</td>
					<td class="is-hidden-touch">{{i['addresses']}}</td>
					<td>{{ i['value'] }}</td>
					<td>{{ i['scriptType'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="has-text-centered">
<p class="subtitle monospace mini"><a class="has-text-danger" href="{{ url_for('home') }}">Volver al inicio</a></p>
</div>
{% endblock %}