{% extends "base.html" %}
{% block body %}

{% if fee >= 0 %}
<div class="has-text-centered">
	<h1 class="title is-size-4">Impuesto por transacción</h1>
	<p class="subtitle is-size-5 monospace has-text-centered">{{fee|round(8)}} CHA</p>
</div>
{% endif %}

<br>
<div class="columns">
	<div class="column has-text-centered">
		<h1 class="title is-size-4">Entradas</h1>
		{% if vin[0]['addresses'] == vin[0]['value'] %}
			<br>
			<p class="is-size-5">{{ vin[0]['value'] }}</p>
			<br>
		{% else %}
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th class="has-text-centered">Origen</th>
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>
				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vin %}
				<tr>
					<td class="has-text-centered">
						<a class="has-text-danger"  href="{{ url_for('tx', txid=i['txid'])}}">Ver transacción</a>
					</td>
					<td class="has-text-centered is-hidden-touch">{{i['addresses']}}</td>
					<td class="has-text-centered is-hidden-desktop">{{ i['addresses'][:17] }}<br>{{ i['addresses'][17:] }}</td>
					<td class="has-text-centered">{{ i['value'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>

	<div class="column has-text-centered">
		<h1 class="title is-size-4">Salidas</h1>
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>

				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vout %}
				<tr>
					<td class="has-text-centered is-hidden-touch">{{i['addresses']}}</td>
					<td class="has-text-centered is-hidden-desktop">{{ i['addresses'][:17] }}<br>{{ i['addresses'][17:] }}</td>
					<td class="has-text-centered">{{ i['value'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="has-text-centered">
<p class="subtitle monospace mini"><a class="has-text-danger" href="{{ url_for('home') }}">Volver al inicio</a></p>
</div>
{% endblock %}