{% extends "base.html" %}
{% block body %}

<div class="content has-text-centered">
	<h1>¿Qué es esto?</h1>
	<p>Esto es una transacción en la Red Chaucha.</p>
	<p>Cada transacción contiene un conjunto de <u>entradas</u>, que son transacciones antiguas controla el usuario que generó la transacción, y <u>salidas</u>, que son direcciones receptoras del monto a transferir</p>
	<p>La resta entre el monto de entrada y el monto de salida es un <u>impuesto</u>, que se utiliza como un incentivo para que los mineros procesen tu transacción y la incluyan en un bloque.</p>
</div>


<div class="has-text-centered">
<h3 class="title is-size-4 is-hidden-touch">{{ txid }}</h3>
<h3 class="title is-size-4 is-hidden-desktop">{{ txid[:15] }}...</h3>
<p class="subtitle monospace mini"><a class="has-text-danger" href="{{ url_for('home') }}">Volver al inicio</a></p>
</div>
<br>
<div class="columns">
	<div class="column has-text-centered">
		<h1 class="title is-size-4">Entradas</h1>
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th class="has-text-centered">Origen</th>
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>
				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vin %}
				<tr>
					{% if i['addresses'] == i['value'] %}
					<td class="has-text-centered" colspan="3">{{ i['value'] }}</td>
					{% else %}
					<td class="has-text-centered">
						<a class="has-text-danger"  href="{{ url_for('tx', txid=i['txid'])}}">Ver transacción</a>
					</td>
					<td class="has-text-centered is-hidden-touch">{{i['addresses']}}</td>
					<td class="has-text-centered is-hidden-desktop">{{ i['addresses'][:17] }}<br>{{ i['addresses'][17:] }}</td>
					<td class="has-text-centered">{{ i['value'] }}</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="column has-text-centered">
		<h1 class="title is-size-4">Salidas</h1>
		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th class="has-text-centered">Dirección</th>
					<th class="has-text-centered">Monto</th>

				</tr>
			</thead>
			<tbody class="monospace">
			{% for i in vout %}
				<tr>
					<td class="has-text-centered is-hidden-touch">{{i['addresses']}}</td>
					<td class="has-text-centered is-hidden-desktop">{{ i['addresses'][:17] }}<br>{{ i['addresses'][17:] }}</td>
					<td class="has-text-centered">{{ i['value'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if fee >= 0 %}
<div class="has-text-centered">
	<h1 class="title is-size-4">Impuesto por transacción</h1>
	<p class="subtitle is-size-5 monospace has-text-centered">{{fee|round(8)}} CHA</p>
</div>
{% endif %}
{% endblock %}