<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Explorador de bloques - Proyecto Chaucha</title>
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">

	<meta name="description" content="Proyecto Chaucha - 2017">
	<meta name="keywords" content="chaucha, cryptocurrency, chauchera">
	<meta name="author" content="César Vásquez C.">	
	<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Comfortaa|Anonymous+Pro');

	body { font-family: 'Comfortaa', cursive; font-size: 0.95em; }
	.monospace { font-family: 'Anonymous Pro', monospace; }
	table.center { margin-left:auto; margin-right:auto; }
	a {text-decoration: underline;}
	</style>
</head>
<body>
<section class="section">
	<div class="container">
		<h1 class="title">Explorador de bloques</h1>
		<h2 class="subtitle heading">Proyecto Chaucha - 2017</h2>
		<br>
{% block body %}

{% endblock %}
	</div>
</section>
</body>
</html>