{% extends "base.html" %}
{% block body %}

<div class="has-text-centered">
<h3 class="title is-size-4">Últimos bloques generados</h3>
<p class="subtitle monospace mini">
	{% if pages['current'] > 0 %}
		<a href="{{ url_for('home',page=pages['current']) }}" class="has-text-danger"><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i></a>
	{% endif %}

	Página {{ pages['current'] + 1 }} de {{ pages['max'] + 2 }}

	{% if pages['current'] - 1 < pages['max'] %}
		<a href="{{ url_for('home',page=pages['current'] + 2) }}" class="has-text-danger">
			<i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
		</a>
	{% endif %}
	

</p>
</div>
<br>

<table class="table center">
	<thead>
		<tr>
			<th class="has-text-centered">#</th>
			<th class="has-text-centered">Fecha</th>
			<th class="has-text-centered">Dificultad</th>
			<th class="has-text-centered">Hash</th>
			<th class="has-text-centered">Tamaño</th>
			<th class="has-text-centered">Tx</th>
		</tr>
	</thead>
	<tbody class="monospace">
	{% for i in blocks %}
		<tr>
			<td class="has-text-centered"><a class="has-text-danger" href="/block/{{ i['hash'] }}">{{ i['height'] }}</a></td>
			<td class="has-text-centered">{{ i['time'] }}</td>
			<td class="has-text-centered">{{ i['difficulty'] }}</td>
			<td class="has-text-centered">{{ i['hash'] }}</td>
			<td class="has-text-centered">{{ (i['size']/1024)|round(2) }} Kb</td>
			<td class="has-text-centered">{{ i['tx']|length }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}